body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
}

.mainblock {
    display: block;
    width: 80vw;
    height: calc(80vw / 1.85);
    border-radius: 30px;
    box-shadow: 0 0 100px -20px #00000070;
}
